[submodule "third_party/softfloat"]
	path = third_party/softfloat
	url = https://github.com/ucb-bar/berkeley-softfloat-3.git
[submodule "third_party/ramulator"]
	path = third_party/ramulator
	url = https://github.com/CMU-SAFARI/ramulator2.git
[submodule "third_party/cvfpu"]
	path = third_party/cvfpu
	url = https://github.com/openhwgroup/cvfpu.git
[submodule "third_party/hardfloat"]
	path = third_party/hardfloat
	url = https://github.com/bsg-external/HardFloat.git
[submodule "hw/rtl/mmu"]
	path = hw/rtl/mmu
	url = https://github.com/bsc-loca/mmu.git
[submodule "hw/rtl/mmu/bsc_mmu"]
	path = hw/rtl/mmu/bsc_mmu
	url = git@github.com:JensLiu/mmu.git
[submodule "runtime/espiral"]
	path = runtime/espiral
	url = git@github.com:JensLiu/espiral.git
